.container {
    max-width: 900px!important;
}

body {
    font-family: 'Consolas'!important;
}

.icon-prev:hover {
    background: #0dcaf0!important;
    /*cursor: pointer;
}
 /*
.icon-name-prev {
    color: #718093!important;
}*/